@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html, body, #app, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Malgun Gothic', Arial, sans-serif;
  background: #fff;
  color: #222;
}


.App {
text-align: center;
}

/* 페이지 전환 애니메이션 */
.page-transition-enter {
opacity: 0;
transform: translateX(50px);
}

.page-transition-enter-active {
opacity: 1;
transform: translateX(0);
transition: opacity 500ms, transform 500ms;
}

.page-transition-exit {
opacity: 1;
transform: translateX(0);
}

.page-transition-exit-active {
opacity: 0;
transform: translateX(-50px);
transition: opacity 500ms, transform 500ms;
}